---
import { BLOG, LINKS } from '../lib/constants'
import BaseLayout from '../layouts/BaseLayout.astro'
import TopLayout from '../layouts/TopLayout.astro'
import BottomLayout from '../layouts/BottomLayout.astro'

import BlogCard from '../components/BlogCard.astro'

import { contentfulClient } from '../lib/contentful'
import type { EntryFieldTypes } from 'contentful'
type Blog = {
  contentTypeId: 'blog'
  fields: {
    title: EntryFieldTypes.Text
    images: EntryFieldTypes.AssetLink
    url: EntryFieldTypes.EntryResourceLink<any>
    summary: EntryFieldTypes.RichText
    date: EntryFieldTypes.Date
    published: EntryFieldTypes.Boolean
  }
}

const entries = await contentfulClient.getEntries<Blog>({
  limit: 50,
  order: ['sys.createdAt'],
  content_type: 'blog',
})
const blogsData = entries.items
const blogs = blogsData.sort((a, b) => {
  const dateA: any = new Date(a.fields.date)
  const dateB: any = new Date(b.fields.date)
  return dateB - dateA
})
---

<BaseLayout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
  <main class="flex min-h-[80vh] flex-auto flex-col" transition:animate="fade">
    <TopLayout>
      <h2
        class="scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0"
      >
        {BLOG.TITLE}
      </h2>
    </TopLayout>
    <BottomLayout>
      <div class="flex w-full flex-wrap justify-center gap-2">
        {
          blogs.map((blog: any) => (
            <BlogCard
              href={blog?.fields.url}
              heading={blog?.fields?.title}
              description={blog?.fields?.summary}
              imagePath={blog?.fields?.image}
              class="w-full sm:w-2/5"
            />
          ))
        }
      </div>
    </BottomLayout>
  </main>
</BaseLayout>
